<h1>Vendas</h1>
<table class="table table-hover">

  <thead>
    <tr>
      <th>Comprador</th>
      <th>Descrição</th>
      <th>Endereço</th>
      <th>Valor</th>
      <th>Provedor</th>
      <th>Quantidade</th>
    </tr>
  </thead>

  <tbody>
    <% if @sales.empty? %>
      <td class="text-center" colspan="6"><%= t('sales.no_sales_yet') %></td>
    <% else %>

      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.buyer_name %></td>
          <td><%= sale.description %></td>
          <td><%= sale.provider_address %></td>
          <td><%= value_to_money(sale.price) %></td>
          <td><%= sale.provider_name %></td>
          <td><%= sale.quantity %></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>

</table>

<%= paginate(@sales) %>

</br>

<%= link_to 'Importar Vendas', new_sale_path, class: 'btn btn-primary' %>