<h1><%= t('views.sales.import') %></h1>

<%= form_tag (sales_path), multipart: true do %>
    <div class="form-group">

      <div class="field">
        <%= label_tag :file, t('file') %><br>
        <%= file_field_tag :file, class: 'form-control', accept: '.txt', required: true %>
      </div>
    </div>
    <div class="actions">
      <%= submit_tag t('views.sales.import'), class: 'btn btn-primary' %>
      <%= link_to t('action.previus'), sales_path, class: 'btn btn-danger' %>
    </div>
<% end %>
